.container-fluid {
	height: 100%;
}

.col-md-6 {
	height: 50%;
}

.row {
	height: 100%;
}

.form {
	margin-left: auto;
}

.toolBar {
	width: 100%;
	margin: 0 auto;
}

.content-area {
	height: 100%;
}
